doctype html
html
  head
    title RailNation PT/BR Tools
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block javascript
    block header
      h3 Welcome to Rail Nation PT/BR tools page!
      p Today is #{new Date()};
    h3 Server Starts
    block startsTable
    h3 City Competitions Schedule
    block cityComps